body {
	background-image:url("https://images.genius.com/b9b6844bdd8ebfbe10235ad54d885cfa.960x960x1.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

h1 {
	color:#fff;
	font-size:200px;
	text-align:center;
    height: 90px;
    margin-top: 20px;
    margin-left: 5px;
    opacity:0.6;
}


input {
	padding: 50px;
  border-radius: 50px;
  width:200px;
  font-size:60px;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  color:#fff;
  opacity:0.6;
}

div {
	position: absolute;
    top: 39%;
    left: 58.5%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}
